.app-cell {
  display: block;
  padding: 4px 3px 0;
  background-color: #bae7ff;
  border: 1px solid #bae7ff;
}

.app-cell2 {
  display: block;
  padding: 4px 3px 0;
  background-color: white;
  border: 1px solid #bae7ff;
}

.app-cell__text {
  display: block;
  width: 100%;
  height: inherit;
  overflow: hidden;
  text-overflow: ellipsis;
}

.app-cell__checkbox {
  margin: 0;
}
