.app {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  height: 700px;
}
.app-row {
  display: flex;
  justify-content: space-evenly;
}
.app-cell {
  display: block;
  width: 200px;
  overflow: hidden;
  text-overflow: ellipsis;
  border: 1px solid black;
}
.app-grid {
  max-width: 1420px !important;
}
.wrapper {
  width: 1440px;
  margin: 0 auto;
}
