.controlls__item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 200px;
  padding: 0 2px;
  overflow: hidden;
  text-overflow: ellipsis;
  border: 1px solid black;
}
.controlls__search-button {
  width: 20px;
  height: 20px;
  background-image: url(../../assets/images/UIF-121-512.png);
  background-size: cover;
  border: none;
  cursor: pointer;
}
.controlls__sort-button {
  cursor: pointer;
}
